In [2]:
import pandas as pd

# Importation of the csv file into a Pandas dataframe

In [6]:
deaths_df = pd.read_csv('CovidDeaths.csv')
deaths_df

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,1/3/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281632,ZWE,Africa,Zimbabwe,3/12/2023,16320539,264385.0,13.0,16.429,5672.0,0.0,...,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281633,ZWE,Africa,Zimbabwe,3/13/2023,16320539,264391.0,6.0,16.429,5672.0,0.0,...,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281634,ZWE,Africa,Zimbabwe,3/14/2023,16320539,264391.0,0.0,14.857,5672.0,0.0,...,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281635,ZWE,Africa,Zimbabwe,3/15/2023,16320539,264391.0,0.0,10.857,5672.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281636,ZWE,Africa,Zimbabwe,3/16/2023,16320539,264391.0,0.0,8.429,5672.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's see the column names of this dataframe :

In [ ]:
deaths_df.columns

Let's see the shape of this dataframe

In [ ]:
deaths_df.shape

Let's see the countries cited in this dataset :

In [ ]:
pd.DataFrame(deaths_df['location'].unique())

How many countries ?

In [ ]:
deaths_df.location.unique().shape[0]

 **Q** which continents was this study conducted ?

In [ ]:
import numpy as np

In [ ]:
deaths_df[deaths_df['continent'] != np.nan].continent.unique()

**Q** Which country has the Highest total cases :

Method 1

In [ ]:
deaths_df[deaths_df['total_cases'] == np.max(deaths_df.total_cases)].location.unique()[0]

Method 2

In [ ]:
deaths_df.sort_values('total_cases', ascending = False).head(1)['location']

**Q** What about Morocco ?

In [ ]:
Covid_MAR = deaths_df[deaths_df.location == 'Morocco']
Covid_MAR

**Q** A dataframe that showcase The : dates, population, new cases, total cases, new deaths, total deaths,reproduction rate

In [ ]:
Covid_MAR1 = Covid_MAR[['date','new_cases','total_cases', 'new_deaths', 'total_deaths', 'reproduction_rate', 'population']]
Covid_MAR1

**Q** Which day had the most cases ?

In [ ]:
Covid_MAR1[Covid_MAR1['new_cases']== np.max(Covid_MAR1.new_cases)][['date', 'new_cases']]

  **Q** What about the reproduction rate $R_0$ ?

In [ ]:
filtred_r0 =Covid_MAR1.dropna(subset=['reproduction_rate'])
filtred_r0

**Q** In what day $R_0$ hit the maximn value ?

In [ ]:
filtred_r0[filtred_r0['reproduction_rate'] == np.max(filtred_r0.reproduction_rate)][['date', 'reproduction_rate']]

**Q** A dataframe month wise ?

In [ ]:
import datetime

In [ ]:
Covid_MAR1['date'] = pd.to_datetime(Covid_MAR1['date'])
Covid_MAR1['Year/Month'] = Covid_MAR1['date'].apply(lambda x: x.strftime('%Y')) + ' ' + Covid_MAR1['date'].apply(lambda x: x.strftime('%B'))
Covid_MAR1

In [ ]:
Covid_MAR1_montly = Covid_MAR1.groupby('Year/Month')[['new_cases','new_deaths']].sum()
Covid_MAR1_montly['Death %'] = (Covid_MAR1_montly.new_deaths / Covid_MAR1_montly.new_cases)*100
Covid_MAR1_montly

**Q** When did the death % hit the max :

In [ ]:
Covid_MAR1_montly[Covid_MAR1_montly['Death %'] == max(Covid_MAR1_montly['Death %'])]

**Q** Data Year wise

In [ ]:
Covid_MAR1['date'] = pd.to_datetime(Covid_MAR1['date'])
Covid_MAR1['Year'] = Covid_MAR1['date'].apply(lambda x: x.strftime('%Y'))
Covid_MAR1_Yearly = Covid_MAR1.groupby('Year')[['new_cases', 'new_deaths']].sum()
Covid_MAR1_Yearly['Death %'] = (Covid_MAR1_Yearly.new_deaths / Covid_MAR1_Yearly.new_cases)*100

Covid_MAR1_Yearly

**Q**  SHow the whole dataframe

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
Covid_MAR

**Q** Showing the countries with the highest death count per population :

In [ ]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
deaths_df

In [ ]:
deaths_df.groupby('location')[['total_deaths']].max().sort_values('total_deaths', ascending=False)

**Q** Group the dataframe by months

In [ ]:
deaths_df['date'] = pd.to_datetime(deaths_df['date'])
deaths_df[['date']]

In [ ]:
deaths_df['Year'] = pd.DatetimeIndex(deaths_df['date']).year
deaths_df['Month'] = pd.DatetimeIndex(deaths_df['date']).month
deaths_df['Day'] = pd.DatetimeIndex(deaths_df['date']).day

deaths_df

In [ ]:
deaths_grouped_df = deaths_df.groupby(['Year','location','Month'])[['new_cases', 'new_deaths']].sum()

deaths_grouped_df

**Q** let's break things down by continent

In [ ]:
Covid_continent_df = deaths_df.groupby('continent')[['new_cases', 'new_deaths']].sum()
Covid_continent_df

In [ ]:
Covid_continent_df['Death %'] = (Covid_continent_df['new_deaths']/Covid_continent_df['new_cases'])*100
Covid_continent_df['Population'] = deaths_df.groupby('continent')['population'].unique().apply(sum)
Covid_continent_df['Average $R_0$'] = deaths_df.groupby('continent')['reproduction_rate'].mean()
Covid_continent_df

In [ ]:
#Deleting the column 'Average Reproduction Rate'
Covid_continent_df.drop('Average Reproduction Rate', axis =1, inplace=True)

In [ ]:
Covid_continent_df

**Q** Showing the continents with the highest death count

In [ ]:
deaths_df.groupby('continent')[['total_deaths']].max().sort_values('total_deaths', ascending = False)

In [ ]:
#Vérification :
np.sort(deaths_df.total_deaths.unique())

In [5]:
vaccinations_df = pd.read_csv('CovidVaccinations.csv')
vaccinations_df

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,1/3/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281632,ZWE,Africa,Zimbabwe,3/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281633,ZWE,Africa,Zimbabwe,3/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281634,ZWE,Africa,Zimbabwe,3/14/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281635,ZWE,Africa,Zimbabwe,3/15/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281636,ZWE,Africa,Zimbabwe,3/16/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [8]:


# join the dataframes on the 'iso_code' column
df_merged = pd.merge(deaths_df, vaccinations_df, on=['iso_code','continent','location','date'])

df_merged

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,1/3/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281632,ZWE,Africa,Zimbabwe,3/12/2023,16320539,264385.0,13.0,16.429,5672.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281633,ZWE,Africa,Zimbabwe,3/13/2023,16320539,264391.0,6.0,16.429,5672.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281634,ZWE,Africa,Zimbabwe,3/14/2023,16320539,264391.0,0.0,14.857,5672.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281635,ZWE,Africa,Zimbabwe,3/15/2023,16320539,264391.0,0.0,10.857,5672.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281636,ZWE,Africa,Zimbabwe,3/16/2023,16320539,264391.0,0.0,8.429,5672.0,0.0,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [9]:
del df_merged

In [10]:
df_merged

NameError: name 'df_merged' is not defined

In [12]:
merged_covid = deaths_df.merge(vaccinations_df, on = ['iso_code','continent','location','date'])
pd.set_option('display.max_columns', None)
merged_covid

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,1/3/2020,41128772,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,41128772,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,41128772,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,41128772,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,41128772,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281632,ZWE,Africa,Zimbabwe,3/12/2023,16320539,264385.0,13.0,16.429,5672.0,0.0,0.143,16199.526,0.797,1.007,347.538,0.0,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281633,ZWE,Africa,Zimbabwe,3/13/2023,16320539,264391.0,6.0,16.429,5672.0,0.0,0.143,16199.894,0.368,1.007,347.538,0.0,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281634,ZWE,Africa,Zimbabwe,3/14/2023,16320539,264391.0,0.0,14.857,5672.0,0.0,0.143,16199.894,0.000,0.910,347.538,0.0,0.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281635,ZWE,Africa,Zimbabwe,3/15/2023,16320539,264391.0,0.0,10.857,5672.0,0.0,0.000,16199.894,0.000,0.665,347.538,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
281636,ZWE,Africa,Zimbabwe,3/16/2023,16320539,264391.0,0.0,8.429,5672.0,0.0,0.000,16199.894,0.000,0.516,347.538,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [13]:
pd.reset_option('display.max_columns')